Console.App.2/.vs/
Console.App.2/Console.App.2/bin/
Console.App.2/Console.App.2/obj/
Frist.Console.App/.vs/
Frist.Console.App/Frist.Console.App/bin/
Frist.Console.App/Frist.Console.App/obj/
IntroMethods/SampleMethods/.vs/SampleMethods/FileContentIndex/dca255e3-5128-49dc-bf89-91a74496cfea.vsidx
IntroMethods/SampleMethods/.vs/
IntroMethods/SampleMethods/SampleMethods/bin/
IntroMethods/SampleMethods/SampleMethods/obj/
MoreMethods/SampleMethods/.vs/
MoreMethods/SampleMethods/SampleMethods/obj/
MoreMethods/SampleMethods/SampleMethods/bin/
