Console.App.2/.vs/
Console.App.2/Console.App.2/bin/
Console.App.2/Console.App.2/obj/
Frist.Console.App/.vs/
Frist.Console.App/Frist.Console.App/bin/
Frist.Console.App/Frist.Console.App/obj/
ConsoleApp3/ConsoleApp3/.vs/
CSharpTypesAndVariables/CSharpTypesAndVariables/.vs/
CSharpTypesAndVariables/CSharpTypesAndVariables/CSharpTypesAndVariables/bin/Debug/CSharpTypesAndVariables.exe
CSharpTypesAndVariables/CSharpTypesAndVariables/CSharpTypesAndVariables/bin/
CSharpTypesAndVariables/
