Console.App.2/.vs/
Console.App.2/Console.App.2/bin/
Console.App.2/Console.App.2/obj/
Frist.Console.App/.vs/
Frist.Console.App/Frist.Console.App/bin/
Frist.Console.App/Frist.Console.App/obj/
CsharpBasicsMoreTypes/ConsoleClassMethods/.vs/
CsharpBasicsMoreTypes/ConsoleClassMethods/ConsoleClassMethods/bin/
CsharpBasicsMoreTypes/ConsoleClassMethods/ConsoleClassMethods/obj/
